* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b141a;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 500px;
  height: 100vh;
  margin: auto;
  background-color: #111b21;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #202c33;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 45px;
  height: 45px;
  background-color: gray;
  border-radius: 50%;
}

.info h2 {
  color: white;
  font-size: 16px;
}

.info p {
  color: #8696a0;
  font-size: 13px;
}

.chat {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 80%;
  padding: 10px 14px;
  margin-bottom: 10px;
  border-radius: 10px;
  line-height: 1.4;
  font-size: 15px;
  word-wrap: break-word;
}

.user {
  align-self: flex-end;
  background-color: #005c4b;
  color: white;
}

.bot {
  align-self: flex-start;
  background-color: #202c33;
  color: white;
}

.input-area {
  display: flex;
  padding: 10px;
  background-color: #202c33;
  gap: 10px;
}

.input-area input {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 25px;
  outline: none;
  background-color: #2a3942;
  color: white;
  font-size: 15px;
}

.input-area button {
  border: none;
  background-color: #00a884;
  color: white;
  padding: 0 18px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}

@media (max-width: 600px) {

  .container {
    max-width: 100%;
    height: 100vh;
  }

  .message {
    max-width: 90%;
    font-size: 14px;
  }

}